$main-Color1:#edece8;
$main-Color2:#5f5e5d;


@mixin flexbox{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


@mixin contenedor{
    padding: 10px 10px 30px 10px;
    margin: 20px 40px 20px 40px;
    justify-items: center;
    overflow:hidden;
}

@mixin letra{
    display: flex;
    justify-content: center;
    color: #625548;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border: #625548 solid 2px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    transition: .4s;
}

@mixin img{
    width: 80%;
    transition: .4s; 
    border-radius: 20px;
}

@mixin line{
    flex: 1;
    height: 0px;
    border-top: 3px double #5f5e5d;
    margin-right: 40px;
}


@mixin responsive {
  @media (max-width: 800px) { @content } 
}


%hover{
    background-color:$main-Color2;
    color: $main-Color1;
}


body{
    background-color:$main-Color1;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-weight: normal;

        header.grid-contenedor{
            display: flex;
            box-sizing: border-box;
            flex-direction: row;
            justify-content: space-between;
            align-items:center;
            padding: 20px;

                @include responsive(){
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    justify-content: center;
                    align-items: center;
                }
            
                article.contenedor-a{
                    display:flex;
                    align-items: center;
                    flex-direction: row;
                    gap:20px;

                    img{
                        width: 110px;
                        opacity: .8;
                    } 

                    h1 {
                        font-size: 40px;
                        color:$main-Color2; 
                    }
                }

                article.contenedor-c{   
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    
                    @include responsive(){
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        justify-content: center;
                    }

                        a{
                          @include letra;
                          width: 80px;
                        }

                        a:hover{
                            @extend %hover;
                        }
                }  
            }
    }


main{
    
    .titulo{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-left: 40px;
        gap: 20px;
        font-size: 15px;
        color:$main-Color2; 

        .linea{
            @include line;
        }
    }

    .contenedor-100{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
        justify-items: center;

        @include responsive(){
            display: flex;
            flex-direction: column;
            width: 80%;
            justify-content: center;
        }
                          
            .contenedor-1{
                @include contenedor;
                grid-column: 1/2;
                grid-row: 1/2;   
            }

            .contenedor-2{
                @include contenedor;
                grid-column: 2/3;
                grid-row: 1/2;
            }

            .contenedor-3{
                @include contenedor;
                grid-column: 3/4;
                grid-row: 1/2;
            }

            .contenedor-4{
                @include contenedor;
                grid-column: 1/2;
                grid-row: 2/3;                
            } 

            .contenedor-5{
                @include contenedor;
                grid-column: 2/3;
                grid-row: 2/3;               
            }
        

            .contenedor-6{
                @include contenedor;
                grid-column: 3/4;
                grid-row: 2/3;              
            }


            img{
                @include img;
    
                &:hover{
                    transform: scale(1.08);
                }
            }

            p{
                color:$main-Color2;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }

            a{
                @include letra;
                width: 240px;

                &:hover{
                    @extend %hover;
                }
            }   
    }  


    .titulo-2{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-left: 40px;
        gap: 20px;
        font-size: 15px;
        color:$main-Color2; 

        .linea{
            @include line;
        }
    }
    
    .contenedor-150{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
        justify-items: center;

        @include responsive(){
            display: flex;
            flex-direction: column;
            width: 80%;
            justify-content: center;
            }
                  
            .contenedor-7{
                @include contenedor;
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .contenedor-8{
                @include contenedor;
                grid-column: 2/3;
                grid-row: 1/2;
            }

            .contenedor-9{
                @include contenedor;
                grid-column: 3/4;
                grid-row: 1/2;
            }

            img{
                @include img;
    
                &:hover{
                    transform: scale(1.08);
                   
                }
            }

            p{
                color:$main-Color2;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }

            a{
                @include letra;
                width: 240px;

                &:hover{
                    @extend %hover;
                }
            }
    }
}


footer{

    .registro {
        background-color:$main-Color2;
        width: 100%;
        height: 400px;
        
            h5{
                @include flexbox;
                padding-top:30px;
                font-size: 25px;
                font-weight: bold;
                color:$main-Color1;
                margin-right: 5px;
                text-decoration: none;
                transition: .4s;
                font-weight: bold;

                    h5:hover{
                        background-color: $main-Color2;
                        color:$main-Color1;
                    }
            }
    }
        

    .contenedor-200{
        @include flexbox;
        flex-direction: column;
        padding-bottom: 20px;

        div{
            @include flexbox;
            width: 100%;
        

            label{
                width: 100px;
                color:$main-Color1;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
            }

              input {
                justify-content: end;
                width: 200px;
                padding: 5px;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                background-color:$main-Color1;
                color:$main-Color2;
            }

            input:focus {
                outline: none;
                border: 1px solid $main-Color2;
                background-color:$main-Color1;
            }

        }    
    }

    .contenedor-final{      
        font-family: "Gowun Batang", serif;
        background-color:$main-Color2;      
        border-radius: 15px;
        border: 1px solid $main-Color1;
        padding: 5px 40px;
        color:$main-Color1;
        text-align: center;
        font-size: 18px;
        font-weight: bold; 
        transition: .4s;
        
            &:hover{
                background-color:$main-Color1;
                color:$main-Color2;
            }
    }

    .contacto{
        @include flexbox;
        flex-direction: column;
        background-color:$main-Color1;
        padding-top: 5px;
        padding-bottom: 10px;

            h3{
                font-size: 20px;
                color:$main-Color2; 
            }
                    a{
                        color:$main-Color2;
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        text-decoration: none;
                    }

            
    }
}   